:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2F303A;
  --nav-button-color: #2196F3;
  --transition-primary: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.portfolio-container {
  padding-bottom: 94px;
  padding-top: 94px;
}

.modal-form-button {
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--nav-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-primary), visibility var(--transition-primary);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  height: 100%;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close-btn-icon {
  width: 40px;
  height: 40px;
  color: var(--primary-text-color);
  transition: fill var(--transition-primary);
}
.mobile-menu__close-btn-icon:hover {
  fill: var(--nav-button-color);
}

.mobile-menu__menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 302px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--transition-primary);
}
.mobile-menu__link:hover, .mobile-menu__link:focus, .mobile-menu__link:active {
  color: var(--nav-button-color);
  outline-color: var(--nav-button-color);
}

.current {
  color: var(--nav-button-color);
}

.mobile-menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.mobile-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--nav-button-color);
}

.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__social-links-menu {
  display: flex;
  gap: 10px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--nav-button-color);
  padding-right: 10px;
}

.mobile-menu__list:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 480px) {
  .page-logo {
    color: var(--nav-button-color);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  .page-logo:focus {
    color: var(--nav-button-color);
    outline-color: var(--nav-button-color);
  }
  .page-logo__colortext {
    color: black;
  }
  .footer-logo {
    color: var(--nav-button-color);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 20px;
  }
  .footer-logo__colortext {
    color: #FFFFFF;
  }
}
@media screen and (min-width: 768px) {
  .page-logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .page-logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 92px;
  }
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-primary), visibility var(--transition-primary);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 480px) {
  .modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    transition: fill var(--transition-primary);
  }
  .modal-close-btn:hover {
    fill: var(--nav-button-color);
  }
  .close-btn-img {
    width: 18px;
    height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
@media screen and (min-width: 480px) {
  .modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
    text-align: center;
  }
  .modal-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-form-label {
    margin-bottom: 10px;
  }
  .modal-form-name {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--accent-color);
  }
  .modal-input-wrapper {
    position: relative;
    display: block;
  }
  .contact-form-input {
    display: block;
    width: 370px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-primary);
  }
  .contact-form-input:focus {
    border-color: var(--nav-button-color);
    outline: none;
  }
  .modal-form-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--primary-text-color);
    transition: fill var(--transition-primary);
  }
  .contact-form-input:focus + .modal-form-icon {
    fill: var(--nav-button-color);
  }
  .modal-form-label-textarea {
    margin-bottom: 20px;
  }
  .contact-form-textarea {
    width: 370px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color var(--transition-primary);
  }
  .contact-form-textarea::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .contact-form-textarea:focus {
    border-color: var(--nav-button-color);
    outline: none;
  }
  .modal-form-label-checkbox {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .modal-form-input-checkbox {
    appearance: none;
  }
  .icon-accept-policy-wrapper {
    width: 16px;
    height: 15px;
    border: 2px solid rgb(33, 33, 33);
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
  }
  .modal-form-input-checkbox:focus + .icon-accept-policy-wrapper {
    box-shadow: 0 0 0 2px var(--nav-button-color);
  }
  .modal-form-input-checkbox:checked + .icon-accept-policy-wrapper {
    background-color: var(--nav-button-color);
    border-color: var(--nav-button-color);
  }
  .modal-icon-accept-policy {
    display: none;
    fill: var(--primary-bg-color);
  }
  .modal-form-input-checkbox:checked + .icon-accept-policy-wrapper .modal-icon-accept-policy {
    display: block;
  }
  .modal-form-checkbox-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .modal-form-checkbox-link {
    color: var(--nav-button-color);
  }
}
@media screen and (min-width: 1200px) {
  .modal-form-title {
    line-height: 1.15;
  }
  .contact-form-input {
    width: 448px;
  }
  .contact-form-textarea {
    width: 448px;
    height: 120px;
  }
  .modal-form-checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 480px) {
  .section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 480px) {
  .page-header {
    padding-top: 10px;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: none;
  }
  .menu-contacts {
    display: none;
  }
  .open-mobile-menu-button {
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0;
    cursor: pointer;
  }
  .open-mobile-menu-button__icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .open-mobile-menu-button {
    display: none;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: inline-flex;
    gap: 50px;
    margin-right: 96px;
  }
  .menu__item {
    position: relative;
  }
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .menu__link:hover, .menu__link:focus, .menu__link:active {
    color: var(--nav-button-color);
    outline-color: var(--nav-button-color);
  }
  .menu__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -31px;
    transition: background-color var(--transition-primary);
  }
  .menu__link:hover::after, .menu__link:focus::after {
    background-color: var(--nav-button-color);
  }
  .current {
    color: var(--nav-button-color);
  }
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -31px;
    background-color: var(--nav-button-color);
  }
  .menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .menu-contacts__mail,
.menu-contacts__tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color var(--transition-primary), fill var(--transition-primary);
  }
  .menu-contacts__mail:hover, .menu-contacts__mail:focus, .menu-contacts__mail:active,
.menu-contacts__tel:hover,
.menu-contacts__tel:focus,
.menu-contacts__tel:active {
    color: var(--nav-button-color);
    outline-color: var(--nav-button-color);
  }
  .menu-contacts__icon {
    fill: currentColor;
  }
  .menu-contacts__icon-mail {
    width: 14px;
    height: 10px;
  }
  .menu-contacts__icon-tel {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 0px;
    border-bottom: 1px solid #ECECEC;
  }
  .page-header__container {
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .menu__item {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-primary);
  }
  .menu__link {
    transition: color var(--transition-primary);
  }
  .menu__link::after {
    bottom: -1px;
  }
  .current::after {
    bottom: -1px;
  }
  .menu,
.menu-contacts {
    display: flex;
    gap: 50px;
    flex-direction: row;
    margin-right: 0px;
  }
  .menu-contacts__mail,
.menu-contacts__tel {
    font-size: 14px;
    line-height: 1.14;
    gap: 0px;
  }
  .menu-contacts__icon {
    margin-right: 10px;
  }
  .menu-contacts__icon-mail {
    width: 16px;
    height: 12px;
  }
  .menu-contacts__icon-tel {
    width: 10px;
    height: 16px;
  }
}
@media screen and (min-width: 480px) {
  .hero-section {
    background-color: var(--secondary-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-mobile.jpg);
    height: 400px;
    background-size: cover;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-width: 480px) and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-width: 480px) and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-mobile@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 118px 60px;
  }
}
@media screen and (min-width: 480px) {
  .hero-container__title {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .hero__button {
    color: var(--secondary-text-color);
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border-color: transparent;
    padding: 10px 24px;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-color: var(--secondary-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-color: var(--secondary-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-desktop@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .features__list {
    display: flex;
    column-gap: 30px;
    flex-direction: column;
  }
  .features__icon-container {
    background-color: #F5F4FA;
    width: 450px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .features__icon {
    width: 70px;
    height: 70px;
    display: block;
    align-items: center;
  }
  .features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 450px;
    text-align: center;
  }
  .features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__list {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .features__icon-container {
    width: 354px;
  }
  .features__title {
    width: 354px;
    text-align: left;
  }
  .features__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features__list {
    flex-wrap: nowrap;
  }
  .features__icon-container {
    width: 270px;
  }
  .features__title {
    width: 270px;
  }
  .features__text {
    width: 270px;
  }
}
@media screen and (min-width: 480px) {
  .benefits {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    display: block;
    padding-bottom: 94px;
  }
  .benefits__list {
    display: flex;
    column-gap: 30px;
  }
  .benefits__list-li {
    position: relative;
  }
  .benefits__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0%;
  }
}
@media screen and (min-width: 480px) {
  .team {
    background-color: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .team__list > li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-bg-color);
  }
  .team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .team__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-bottom: 16px;
  }
  .team__social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 30px;
  }
  .team__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
    transition: background-color var(--transition-primary);
  }
  .team__social-link:hover, .team__social-link:focus {
    background-color: var(--nav-button-color);
  }
  .team__social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill var(--transition-primary);
  }
  .team__social-link:hover .team__social-icon, .team__social-link:focus .team__social-icon {
    fill: var(--primary-bg-color);
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__list {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 480px) {
  .clients {
    background-color: var(--primary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(175, 177, 184);
    transition: border-color var(--transition-primary);
  }
  .clients__link:hover, .clients__link:focus {
    border-color: var(--nav-button-color);
  }
  .clients-logo {
    display: inline-block;
    background-size: cover;
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: fill var(--transition-primary);
  }
  .clients__link:hover .clients-logo, .clients__link:focus .clients-logo {
    fill: var(--nav-button-color);
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__list {
    flex-wrap: nowrap;
  }
  .clients__link {
    width: 170px;
  }
}
@media screen and (min-width: 480px) {
  .footer {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo-nav {
    margin-bottom: 60px;
    width: 232px;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .footer-list__address, .footer-list__auth {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    display: inline-block;
    transition: color var(--transition-primary);
  }
  .footer-list__address:hover, .footer-list__address:focus, .footer-list__address:active, .footer-list__auth:hover, .footer-list__auth:focus, .footer-list__auth:active {
    color: var(--nav-button-color);
    outline-color: var(--nav-button-color);
  }
  .footer-social-links {
    margin-bottom: 60px;
  }
  .footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
  .footer-title-list {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .footer-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-primary);
  }
  .footer-list-link:hover, .footer-list-link:focus, .footer-list-link:active {
    background-color: var(--nav-button-color);
  }
  .icon-footer-links {
    width: 20px;
    height: 20px;
    fill: var(--primary-bg-color);
    transition: background-color var(--transition-primary);
  }
  .footer-form-mail {
    display: block;
  }
  .footer-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer-input-mail {
    height: 50px;
    width: 450px;
    padding-right: 12px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--secondary-text-color);
  }
  .footer-input-mail::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
  }
  .button-form-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: var(--nav-button-color);
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    height: 50px;
  }
  .icon-footer-telegram {
    width: 24px;
    height: 24px;
    fill: var(--primary-bg-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;
    justify-content: center;
  }
  .logo-nav {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    text-align: left;
  }
  .logo-nav {
    margin-right: 70px;
    margin-bottom: 0px;
    width: 231px;
  }
  .footer-list {
    gap: 9px;
  }
  .footer-social-links {
    margin-right: auto;
    margin-bottom: 0px;
  }
  .footer-form-wrapper {
    flex-direction: row;
    align-items: stretch;
    gap: 12px;
  }
  .footer-input-mail {
    width: 358px;
  }
  .button-form-mail {
    gap: 10px;
  }
}
.buttons-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-button {
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color var(--transition-primary), color var(--transition-primary), box-shadow var(--transition-primary);
}
.portfolio-button:hover, .portfolio-button:active, .portfolio-button:focus {
  background-color: #2196F3;
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-list__all {
  min-width: 73px;
  padding: 6px 25px;
}

.buttons-list__site {
  min-width: 125px;
  padding: 6px 22px;
}

.buttons-list__designe {
  min-width: 103px;
  padding: 6px 22px;
}

.buttons-list__marketing {
  min-width: 130px;
  padding: 6px 22px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list > li {
  width: 370px;
}

.portfolio-list__link {
  text-decoration-line: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition-primary);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  outline-color: transparent;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--secondary-text-color);
  transform: translateY(101%);
  transition: var(--transition-primary);
}
.portfolio-list__link:hover .portfolio-list__overlay, .portfolio-list__link:focus .portfolio-list__overlay {
  transform: translateY(0%);
}

.title-text {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */