.page-logo {
    color: var(--nav-button-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;

&:focus {
    color: var(--nav-button-color);
    outline-color: var(--nav-button-color);
}
}

.page-logo__colortext {
    color: black;
}

.footer-logo {
    color: var(--nav-button-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    display: inline-block;
    margin-bottom: 20px;
}

.footer-logo__colortext {
    color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .page-logo {
    margin-right: 87px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    }
}